<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Task Update</h1>
        </div>
        <div class="card-footer">

            <form action="/update-update" method="POST">
                <div class="form-group">
                    <input type="text" name="id" value={{id}} class="form-control" autofocus>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="firstname" value={{contact.firstname}} class="form-control" autofocus>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="lastname" value={{contact.lastname}} class="form-control">
                </div>
                <br>
                <div class="form-group"> 
                    <input type="email" name="email" value={{contact.email}} class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <input type="tel" name="phone" value={{contact.phone}} class="form-control">
                </div>
                <br>
                <button class="btn btn-primary btn-block">
                    Update
                </button>
            </form>
        </div>
    </div>
</div>